* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color:rgb(102, 104, 99)
}

h1.name {
    font-size: 3em;
    text-align: center;
    color:white;
    border:dashed black;
    padding: 0.5em;
}

p.motto {
    text-align: center;
    font-style: italic;
    color: white;
}

h2 {
    text-align: center;
}
img {
    max-width:25%;
    height:auto;
    border-radius: 5px;
    border: black;
    border-width: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

div {
line-height: 1.8em;
background: rgb(204, 211, 204);
border-style: solid;
color: black;
}